<div class="container-fluid">
    <div class="row title align-items-center">
        <div class="col">
            <h1>Ledger Entries</h1>
            <p>as per today : {{ today }}</p>
        </div>
        <div class="col">
            <!-- <input class="form-control" type="text" placeholder="Search Item"/> -->
        </div>
    </div>
    <div class="row section">
        <div class="col">
            <ledger-table   [ledgerData]="ledgerEntries" 
                            (deleteData)="deleteLedgerEntries($event)" 
                            (addData)="addLedgerEntries($event)" 
                            (updateData)="updateLedgerEntries($event)"
                            *ngIf="ledgerEntries.length > 0"></ledger-table>
        </div>
    </div>
</div>