<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Debit (RM)</th>
                <th>Credit (RM)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form [formGroup]="newLedgerEntryForm" novalidate>
                        <div class="form-group">
                            <input class="form-control"type="date" placeholder="Enter Date" formControlName="date">
                            <span class="form-error" *ngIf="newLedgerEntryForm.get('date').hasError('required') && newLedgerEntryForm.get('date').touched">This is required</span>
                        </div>
                    </form>
                </td>
                <td>
                    <form [formGroup]="newLedgerEntryForm" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter Description" formControlName="description">
                            <span class="form-error" *ngIf="newLedgerEntryForm.get('description').hasError('required') && newLedgerEntryForm.get('description').touched">This is required</span>
                        </div>
                    </form>
                </td>
                <td>
                    <form [formGroup]="newLedgerEntryForm" novalidate>
                        <select class="form-control" formControlName="category">
                            <option>Food</option>
                            <option>Income</option>
                            <option>Transportation</option>
                            <option>Bills</option>
                            <option>Entertainment</option>
                            <option>Others</option>
                        </select>
                        <span class="form-error" *ngIf="newLedgerEntryForm.get('category').hasError('required') && newLedgerEntryForm.get('category').touched">This is required</span>
                    </form>
                </td>
                <td>
                    <form [formGroup]="newLedgerEntryForm" novalidate>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter Debit Value" formControlName="debit" [readOnly]="newLedgerEntryForm.get('credit').value.length > 0">
                            <span class="form-error" *ngIf="newLedgerEntryForm.get('debit').invalid && newLedgerEntryForm.get('debit').touched">This must be a number</span>
                            <span class="form-info" *ngIf="newLedgerEntryForm.get('credit').value.length > 0">Either debit or credit. Not both</span>
                        </div>
                    </form>
                </td>
                <td>
                    <form [formGroup]="newLedgerEntryForm" novalidate>
                        <input class="form-control" type="text" placeholder="Enter Credit Value" formControlName="credit" [readOnly]="newLedgerEntryForm.get('debit').value.length > 0">
                        <span class="form-error" *ngIf="newLedgerEntryForm.get('credit').invalid && newLedgerEntryForm.get('credit').touched">This must be a number</span>
                        <span class="form-info" *ngIf="newLedgerEntryForm.get('debit').value.length > 0">Either debit or credit. Not both</span>
                    </form>
                </td>
                <td>
                    <span class="action" (click)="newLedgerEntryForm.valid && addLedgerEntry()" [ngClass]="{ 'block': newLedgerEntryForm.invalid }">
                        <i class="fa fa-plus-circle"></i>
                    </span>
                </td>
            </tr>
            <tr *ngFor="let le of ledgerEntries;let i = index">
                <td>
                    <form [formGroup]="editLedgerEntryForm" novalidate *ngIf="i == currentActiveIndex">
                        <div class="form-group">
                            <input class="form-control"type="date" placeholder="Enter Date" formControlName="date">
                        </div>
                    </form>
                    <span *ngIf="i != currentActiveIndex">
                        {{ le.date }}
                    </span>
                </td>
                <td>
                    <form [formGroup]="editLedgerEntryForm" novalidate *ngIf="i == currentActiveIndex">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter Description" formControlName="description">
                        </div>
                    </form>
                    <span *ngIf="i != currentActiveIndex">
                        {{ le.description }}
                    </span>
                </td>
                <td>
                    <form [formGroup]="editLedgerEntryForm" novalidate *ngIf="i == currentActiveIndex">
                        <select class="form-control" formControlName="category">
                            <option>Food</option>
                            <option>Income</option>
                            <option>Transportation</option>
                            <option>Bills</option>
                            <option>Entertainment</option>
                            <option>Others</option>
                        </select>
                    </form>
                    <span *ngIf="i != currentActiveIndex">
                        {{ le.category }}
                    </span>
                </td>
                <td>
                    <form [formGroup]="editLedgerEntryForm" novalidate *ngIf="i == currentActiveIndex">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Enter Debit Value" formControlName="debit">
                        </div>
                    </form>
                    <span *ngIf="i != currentActiveIndex">
                        {{ le.debit }}
                    </span>
                </td>
                <td>
                    <form [formGroup]="editLedgerEntryForm" novalidate *ngIf="i == currentActiveIndex">
                        <input class="form-control" type="text" placeholder="Enter Credit Value" formControlName="credit">
                    </form>
                    <span *ngIf="i != currentActiveIndex">
                        {{ le.credit }}
                    </span>
                </td>
                <td>
                    <span class="action" (click)="editLedgerEntry(le,i)" *ngIf="i != currentActiveIndex">
                        <i class="fa fa-pencil-square"></i>
                    </span>
                    <span class="action" (click)="updateLedgerEntry()" *ngIf="i == currentActiveIndex">
                        <i class="fa fa-floppy-o"></i>
                    </span>
                    <span class="action" (click)="deleteLedgerEntry(le)" *ngIf="i != currentActiveIndex">
                        <i class="fa fa-trash"></i>
                    </span>
                    <span class="action" (click)="cancelLedgerEntry()" *ngIf="i == currentActiveIndex">
                        <i class="fa fa-ban"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>